---
layout: default
title: "Cynthia Zanoni | Work for the internets and love open web"
cover: "assets/images/cover-blog.png"
---
 
<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
            <a class="subscribe-button icon-link" href="/sobre">Sobre</a>
            <a class="subscribe-button icon-feed" href="/talks">Talks</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">
              <figure class="author-image-home">
                    <a class="img" href="/" style="background-image: url(/assets/images/authors/cynthia-zanoni.jpg)">
                    <span class="hidden">Cynthia Zanoni's Picture</span></a>
                </figure>
            {{ site.name }}</h1>
            <h2 class="page-description">
                {% if site.description %} {{ site.description }}. {% endif %}
                {% if page.about %}{% endif %}
            </h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">


    <div class="extra-pagination inner">
        {% include pagination.html %}
    </div>

    {% for post in paginator.posts %}

    <article class="post">
        <header class="post-header">
          <time class="post-date" datetime="{{ post.date | date:"%d-%m-%y" }}">
              {{ post.date | date_to_string }}
          </time>
            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            {{ post.resume }}
        </section>
    </article>

    {% endfor %}

    {% include pagination.html %}

</main>
